:root {
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --primary-color-notify: rgba(238, 77, 45, 0.08);
  --star-gold: #fece3e;
  --height-header: 120px;
  --height-topbar: 40px;
  --height-header-main: calc(var(--height-header) - var(--height-topbar));
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.product-col {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes growth {
  from {
    -webkit-transform: scale(var(--growth-from));
            transform: scale(var(--growth-from));
  }
  to {
    -webkit-transform: scale(var(--growth-to));
            transform: scale(var(--growth-to));
  }
}

@keyframes growth {
  from {
    -webkit-transform: scale(var(--growth-from));
            transform: scale(var(--growth-from));
  }
  to {
    -webkit-transform: scale(var(--growth-to));
            transform: scale(var(--growth-to));
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn linear 0.15s;
          animation: fadeIn linear 0.15s;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal__body {
  width: 500px;
  z-index: 1;
  margin: auto;
  position: relative;
  -webkit-animation: growth linear 0.15s;
          animation: growth linear 0.15s;
}

.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: #ffffff;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: white;
}

.btn.btn--disable {
  cursor: default;
  background-color: #c3c3c3;
  color: #949494;
}

.pigination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pigination__product {
  margin: 48px 0 32px;
}

.pigination-item {
  margin: 0 15px;
}

.pigination-item a {
  color: #939393;
  font-size: 2rem;
  font-weight: 300;
  min-width: 40px;
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  border-radius: 2px;
}

.pigination-item--active a {
  color: #fff;
  background: var(--primary-color);
}

.pigination-item--active a:hover {
  background: #ee4d2dd9;
}
/*# sourceMappingURL=base.css.map */